pre{
	 white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

tr td:first-child{
	font-size: 18px;
	font-weight: bold;
}

.whois{
	font-weight: normal;
}

.icons{
	width:30px;
}
body{
	background-color: #ccc;
	color:initial;
}
